html {
  scroll-behavior: smooth;
}

#fish-index img {
  width: 350px;
  height: 200px;
  border: solid;
  border: thick double brown;
  border-width: 10px;
 

}

#weather-img {

 width: 50%;
 height: 50%;
 text-align: center;
 border: none;
display:inline-block;
float:right;
margin: 0;
/* margin-top: -2rem; */
margin-left: -2rem;
padding: 0;

  
}

#weather-temp{
  margin-right: -2rem;
  display: inline-block;
}

#weather-container {
  text-align: center;
  padding: 5px;
align-items: center;
justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#fish-id {
  opacity: 0;
}




#carouselExampleIndicators {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

#root {
  background-image: url("https://t3.ftcdn.net/jpg/03/59/21/06/240_F_359210684_bENBBF1hjf8TCEOBLDjD8duECfDDRzMt.jpg");
  background-repeat: no-repeat, repeat;
  
}


#fishUser-index img {
  width: 490px;
  height: 390px;
  border: solid;
  border: thick double brown;
  border-width: 10px;
 

}

#div1 {
  filter: blur(2px);
  -webkit-filter: blur(2px);

}

.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

h2 {
  font-style: italic;
  color: red;
  
}